.header {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  color: #29344f;
}

.title h2 {
  font-size: 30px;
  font-weight: 800;
  margin: 20px 0;
  text-align: center;
}

.title p {
  font-size: 14px;
  max-width: 350px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.tabs {
  display: flex;
}

.tab {
  font-size: 16px !important;
  border-radius: 1000px !important;
  background: #ecebfb !important;
  margin-right: 12px !important;
  cursor: pointer !important;
  font-weight: 600 !important;
  text-transform: none !important;
  color: #29344f !important;
}

.active {
  background: #373ae1 !important;
  color: white !important;
}

.tab:hover,
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.btn {
  background: transparent;
  border: solid 1px #373ae1 !important;
  color: #373ae1 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-transform: none !important;
}
