.container {
  margin: 10px 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.btn_cont {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.btn {
  background: #373ae1;
  color: white;
  font-weight: 600;
  padding: 8px 24px;
  text-transform: none;
}

.btn:hover {
  background: #373ae1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media (max-width: 1040px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
